@import "../variables";

.sort {
  position: relative;
  @media (max-width: 1300px) {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  &__label {
    display: flex;
    align-items: center;
    @media (max-width: 1300px) {
      display: block;
      left: 5%;
    }
    svg {
      margin-right: 8px;
      transform: rotateZ(90deg);

      transition: all 0.1s ease-in-out;
      &.rotate {
        transform: rotateZ(180deg);
      }
    }

    b {
      margin-right: 8px;
    }

    span {
      color: $orange;
      border-bottom: 1px dashed $orange;
      cursor: pointer;
      @media (max-width: 400px) {
        font-size: 14px;
      }
    }
  }

  &__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 165px;
    transition: all 0.05s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-40%) rotateX(90deg);
    @media (max-width: 1300px) {
      left: 0;
      margin: 0;
      padding: 0;
      overflow: visible;
      width: 330px;
      transform: translateY(0%) rotateX(0);
    }
    @media (max-width: 760px) {
      left: 0;
      width: 330px;
      transform: translateY(-40%) rotateX(0);
    }
    &-opened {
      visibility: visible;
      opacity: 1;
      transform: translateY(-2%) rotateX(0);
      @media (max-width: 1300px) {
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
        overflow: visible;
        width: 770px;
        position: relative;
        transform: translateY(24%) rotateX(0);
      }
      @media (max-width: 940px) {
        position: relative;
        left: 0;
        width: 250px;
        transform: translateY(3%) rotateX(0);
      }
    }

    ul {
      overflow: hidden;
      @media (max-width: 1300px) {
        display: flex;
      }
      @media (max-width: 940px) {
        display: block;
      }

      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: bold;
          color: $orange;
        }
      }
    }
  }
}
