.search {
  position: relative;
  margin-bottom: 20px;
  left: -150px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  width: 400px;
  border-radius: 10px;
  font-size: 16px;
  padding-left: 44px;

  transition: all 0.12s ease-in-out;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.icon {
  width: 24px;
  height: 24px;
  position: absolute;
  opacity: 0.2;
  left: 14px;
  top: 12px;
}
.iconClose {
  width: 24px;
  height: 24px;
  position: absolute;
  opacity: 0.2;
  right: 12px;
  top: 12px;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}
